@import '../../scss/variables.scss';

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position:absolute;
    z-index:99999;
    
    .cinema-image{
        width: 100%;
    }
}

.carousel{
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
}

.box-carousel-image{
    object-fit: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh;
    background-position: center;

}