@import '../../../scss/variables.scss';

.login-form{
    width: 100%;
    padding: 1rem;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter:blur(12px);
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;

    .title-login-form{
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .container-input{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .input{
            height: 2rem;
            border:none;
            border-radius: 0.3rem;
            padding: 0.5rem;
            margin-top:0.5rem;
        }
    }

    .button-container{
        display: flex;
        justify-content: center;
    }

    .link-container{
        display: flex;
        justify-content: flex-end;

        .link-login-form{
            text-decoration: none;
            color:$color-white;
        }
    }

    
}