@import '../../../scss/variables.scss';

.pagination{
    padding: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: $secondary;
    border-radius: 2rem;
}