@import '../../../scss/variables.scss';

.users-table{
    width: 80%;
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background: $primary; 
        
    }

    ::-webkit-scrollbar-thumb {
        background: $secondary; 
        border-radius: 10px;
    }
}