@import '../../scss/variables.scss';

.home{

    width: 80%;
    min-height: 80vh;

    .hello-text{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: $color-white;
    }
}