@import '../../../scss/variables.scss';

.singup-form{
    width: 40rem;
    padding: 1rem;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter:blur(12px);
    border-radius: 1rem;
    margin-right: 2rem;
    color: white;

    .container-input{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}