@import '../../../scss/variables.scss';

.navBar{
    padding:0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid $secondary;

    .name-app{
        color: $secondary;
        font-size: 2rem;
        margin-left: 1rem;
        letter-spacing: 1rem;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
            
    }

    .link-nav {
        text-decoration: none;
        margin:1rem;
        color: $color-white;
    }

    .nav-button{
        margin:1rem;
        color: $color-white;
        border:none;
        font-size: 1rem;
        background-color: transparent;
    }
}

.nav-responsive{
    border-bottom: 1px solid $secondary;
    display: flex;
    align-items: center;
    

    .button-menu{
        border-radius: 1rem;
        background-color: transparent;
        border:none;
        width: 2rem;
        height: 2rem;
        
        margin-left: 0.5rem;

        .menu{
            border:none;
            color: $secondary;
            font-size: 2rem;
            cursor: pointer;
        }

        .menu:hover{
            color: $background-color;
        }
    }

    

}

.nav-responsive-options{
    background-color: $primary;
    flex-direction:column;
    border-bottom: 1px solid $secondary;
    padding: 1rem;

    .link-nav{
        text-decoration: none;
        background-color: $primary;
        color: $color-white;
    }

    .link-nav:hover{
        color: $secondary;
    }

    .nav-button{
        background-color: $primary;
        border:none;
        color: $color-white;
        text-align: left;
        font-size: 1rem;
        font-family: 'Quicksand', sans-serif;
    }

    .nav-button:hover{
        color: $secondary;
    }

    .close-button{
        border: none;
        background-color: transparent;
        color: $secondary;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;

    }

    .close-button:hover{
        color: $background-color;
    }

}