@import '../../../scss/variables.scss';

.footer{
    width:100%;
    min-height: 5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: $secondary;

    p{
        margin: 0.5rem;
    }

}