//-----VARIABLES------

$primary: #3d405b;
$secondary: #e07a5f;
$tertiary: #f2cc8f;
$background-color:#e9ecef;
$hover-background: #757575;
$color-text: #646464;
$color-white: #fff;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;