.singup{
    min-height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/375885/pexels-photo-375885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    padding-left: 2rem;
}